RewriteEngine On
DirectoryIndex index.html
RewriteRule ^home?$ index.php
RewriteRule ^index?$ index.php

RewriteRule ^login?$ login.php
RewriteRule ^logining?$ views/logining.php
RewriteRule ^logout?$ views/logout.php

RewriteRule ^dashboard?$ dashboard.php
RewriteRule ^settings?$ settings.php
RewriteRule ^news?$ news.php
RewriteRule ^news_category?$ news_category.php

RewriteRule ^members?$ members.php
RewriteRule ^position?$ position.php
RewriteRule ^faqs?$ faqs.php
RewriteRule ^profile?$ profile.php
RewriteRule ^courses?$ courses.php
RewriteRule ^pages?$ pages.php

RewriteRule ^books?$ books.php
RewriteRule ^sliders?$ sliders.php
RewriteRule ^facts?$ facts.php
RewriteRule ^structure?$ structure.php
RewriteRule ^partners?$ partners.php
RewriteRule ^testimonial?$ testimonial.php


RewriteRule ^6packs?$ 6packs.php
RewriteRule ^comingsoon?$ comingsoon.php
RewriteRule ^history?$ history.php
RewriteRule ^opera?$ opera.php
RewriteRule ^vacancy?$ vacancy.php
RewriteRule ^schedule?$ schedule.php
RewriteRule ^gallery?$ gallery.php

RewriteRule ^services?$ services.php
RewriteRule ^feedback?$ feedback.php
RewriteRule ^products?$ products.php

RewriteRule ^events?$ events.php
RewriteRule ^maps?$ maps.php
RewriteRule ^positions?$ positions.php
RewriteRule ^members?$ members.php

RewriteRule ^export_position?$ views/export_position.php

RewriteRule ^maps2?$ maps2.php
